.contenedor {
    width:80%;
    margin:auto;
    padding: 0;
    display:flex;
    justify-content: space-around;
}

.contenedor .registro {
    font-family: "Mukta", sans-serif;
    border:1px solid rgb(180, 178, 178);
    border-radius: 10px;
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor .registro .fiendselt {
    width: 60%;
}

#form_consultor  {
    width: 90%;
    margin:20px 30px;
}

#form_consultor label {
    width: 400px;
    display: inline-block;  
}

#form_consultor input {
    outline: none;
    border-radius: 5px;
    background-color: #eee;
    border: 0;
    border-bottom:1px solid rgb(90, 88, 88);
}

#form_consultor div {
    line-height:2.5em;
}

#form_consultor #button  {
height: 40px;
border-width: 1px;
border-radius: 10px;
border-color: #155584;
background-color: #155584;
font-family: "Montserrat", sans-serif;
color: white;
}

#form_consultor #reset {
    height: 40px;
    border-width: 1px;
    border-radius: 10px;
    border-color: #155584;
    background-color: #155584;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.form_consultor {
    font-size: 40px;
    text-align: center;
}

@media (max-width: 900px){
    .contenedor {
        display: 100% !important;
    }
    #form_consultor input{
        width: 60% !important;
    }
}