$color-verde-enlace: #80aeab;
$color-azulnavy: #233460;
$color-gris-fuerte: #435365;
$color-azul-aqua: #0078a7;
$color-zinc: #7a99c7;
$color-gris-claro:#c9d1d1;
$color-gris-medio: #838e95;
$color-iconos: #80aeab;
$color-blanco-enlace: white;
$color-gris-enlace: #d1dada;


$fuente-titulos:'Mukta', sans-serif;
$fuente-important: 'Montserrat', sans-serif;
$fuente-body: 'Josefin Sans', sans-serif;